---
network:
  version: 2
  renderer: networkd
  ethernets:
    enp0s3:
      dhcp4: true
    enp0s8: {}
  vlans:
    vlan{{ vlan_id }}:
      id: {{ vlan_id }}
      link: enp0s8
      addresses: [ {{ ip }} ]
