[Unit]
Description=Run borgmatic backup

[Timer]
OnBootSec=10min
OnUnitActiveSec=5min
#OnCalendar=hourly
#Persistent=true
#RandomizedDelaySec=10m

[Install]
WantedBy=timers.target